* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        outline: 0;
}
ul,ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

main {
    flex: 1; /* This pushes the footer down */
}


/* Custom Navbar Styles */
.navbar-nav .nav-link {
    position: relative;
    color: #333 !important; /* Default text color */
    font-weight: 500;
    transition: color 0.3s ease;
    padding: 0.5rem 1rem;
}


.navbar-nav .nav-link:hover {
    color: #28a745 !important; /* Plant Green color */
}

.navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: #28a745; /* Underline color */
    transition: all 0.3s ease-in-out;
    transform: translateX(-50%);
}

.navbar-nav .nav-link:hover::after {
    width: 80%; /* Width of underline on hover */
}


.navbar-nav .nav-link.active::after {
    width: 80%;
}

/* caroisel */
.carousel-item img {
    height: 550px; 
    object-fit: cover; 
    width: 100%;
}

@media (max-width: 768px) {
    .carousel-item img {
        height: 300px;
    }
}



.col-md-4 {
    margin-bottom: 30px;
}

.carousel-item img {
    height: 550px;
    object-fit: cover;
    filter: brightness(60%); /* Makes the image darker so white text pops */
}



/* product cards */
.card img {
    height: 250px;       
    object-fit: cover;   
    
}

/* Style for Client Logos */
.membership-img {
    max-height: 120px;   
    width: auto;
    transition: all 0.3s ease;
    cursor: pointer;
}
